<html   lang="en"
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org"
        layout:decorate="~{layout}">
<head><title>Home</title></head>
<body>
<section layout:fragment="body">
  <div class="text-center mb-5 mt-5">
    <div th:if="${param.success}" class="alert alert-success">
      You are registered successfully!
    </div>
    <div class="container">
      <h1 class="fw-bolder">Welcome!</h1>
    </div>
    <div sec:authorize="!isAuthenticated()">
      Consider logging in, or registering your account.
    </div>
    <div sec:authorize="isAuthenticated()">
      Thank you for logging in.
    </div>
  </div>
</section>
</body>
</html>