<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        xmlns:sec="http://thymeleaf.org">
<head>
    <title>Movie List</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5 font-white">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Find Movies</h1>
                <p class="lead fw-normal text-muted mb-0">Can't find a movie? Make an account and add it!</p>
            </div>
            <div class="row gx-5">
                <form th:action="@{/movies}" class="form-inline my-2 my-lg-0 mb-2">
                    <div class="row">
                        <div class="col-lg-11">
                            <div class="input-group">
                                <input name="titled" class="form-control mr-s" type="search" placeholder="Search by title" aria-label="Search by title" th:value="${currentTitled}">
                                <select name="genre" class="form-control mr-s">
                                    <option value="" th:selected="${currentGenre == ''}">All Genres</option>
                                    <option value="Action" th:selected="${currentGenre == 'Action'}">Action</option>
                                    <option value="Adventure" th:selected="${currentGenre == 'Adventure'}">Adventure</option>
                                    <option value="Comedy" th:selected="${currentGenre == 'Comedy'}">Comedy</option>
                                    <option value="Drama" th:selected="${currentGenre == 'Drama'}">Drama</option>
                                    <!-- Add more genres as needed -->
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <input type="hidden" name="sortBy" th:value="${currentSortBy}">
                            <button class="btn btn-primary ml-2" type="submit">Search</button>
                        </div>
                    </div>
                </form>
                <div class="col-lg-12">
                    <div sec:authorize="hasRole('ROLE_USER')">
                        <a class="btn btn-primary mb-2 w-100" th:href="@{/movies/new}">Add a new Movie</a>
                    </div>
                </div>
                <style>
                    .table td {vertical-align: middle;}
                    .table .btn {vertical-align: middle;}
                </style>
                <table class="table font-white tbl-background">
                    <thead>
                    <tr>
                        <th>
                            <a th:href="@{/movies(sortBy=${currentSortBy == 'title_asc' ? 'title_desc' : 'title_asc'},
                            titled=${currentTitled}, genre=${currentGenre})}">Title</a>
                        </th>
                        <th>Poster</th>
                        <th>Description</th>
                        <th>Genre</th>
                        <th>
                            <a th:href="@{/movies(sortBy=${currentSortBy == 'release_asc' ? 'release_desc' : 'release_asc'},
                            titled=${currentTitled}, genre=${currentGenre})}">Released</a>
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="movie : ${movies}">
                        <td th:text="${movie.title}"></td>
                        <td>
                            <img th:src="${movie.photoUrl}" alt="..." class="img-fluid rounded-3" width="150">
                        </td>
                        <td th:text="${movie.content}"></td>
                        <td th:text="${movie.genre}"></td>
                        <td th:text="${movie.releaseDate}"></td>
                        <td>
                            <a class="btn btn-primary" th:href="@{/movies/{movieId}(movieId=${movie.id})}">View</a>
                            <div th:if="${user != null and user.id == movie.createdBy.id}">
                                <div sec:authorize="!hasRole('ROLE_ADMIN')">
                                    <a class="btn btn-primary mt-2" th:href="@{/movies/{movieId}/edit(movieId=${movie.id})}">Edit</a>
                                </div>
                            </div>
                            <div sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="btn btn-primary mt-2" th:href="@{/movies/{movieId}/edit(movieId=${movie.id})}">Edit</a>
                                <a class="btn btn-primary mt-2" th:href="@{/movies/{movieId}/delete(movieId=${movie.id})}">Delete</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
</body>
</html>
