<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        xmlns:sec="http://www.thymeleaf.org">
<head>
  <title>Review List</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <section layout:fragment="body" class="py-5">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">Find Reviews</h1>
        <div sec:authorize="!hasRole('ROLE_USER')">
          <p class="lead fw-normal text-muted mb-0">Make an account to post your own reviews.</p>
        </div>
        <div sec:authorize="hasRole('ROLE_USER')">
          <p class="lead fw-normal text-muted mb-0">Post your own review by going into the details of a Movie.</p>
        </div>
      </div>
      <style>
        .table td {vertical-align: middle;}
        .table .btn {vertical-align: middle;}
      </style>
      <table class="table">
        <thead>
        <tr>
          <th>User</th>
          <th>Movie</th>
          <th>Score</th>
          <th>Title</th>
          <th>Description</th>
          <th>Last Updated</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="review : ${reviews}">
          <td th:text="${review.createdBy.username}"></td>
          <td th:text="${review.movie.title}"></td>
          <td th:text="${review.score}"></td>
          <td th:text="${review.title}"></td>
          <td th:text="${review.content}"></td>
          <td th:text="${review.updatedOn}"></td>
          <td>
            <a th:href="@{/reviews/{reviewId}(reviewId=${review.id})}" class="btn btn-primary">View-tbr</a>
            <div th:if="${user.id} == ${review.createdBy.id}">
              <a th:href="@{/reviews/{reviewId}/edit(reviewId=${review.id})}" class="btn btn-primary mt-2">Edit</a>
              <div sec:authorize="!hasRole('ROLE_ADMIN')">
                <a class="btn btn-primary mt-2" th:href="@{/reviews/{reviewId}/delete(reviewId=${review.id})}">Delete</a>
              </div>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
              <a class="btn btn-primary mt-2" th:href="@{/reviews/{reviewId}/delete(reviewId=${review.id})}">Delete</a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </section>
</main>
</body>
</html>