<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
  <title>Movie Create</title>
</head>
<body class="d-flex flex-column">

<section layout:fragment="body">
  <header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
      <div class="text-center my-5">
        <h1 class="fw-bolder" th:text="${review.title}"></h1>
      </div>
    </div>
  </header>
  <!-- Page content-->
  <div class="container">
    <div class="row">
      <!-- Blog entries-->
      <div class="col-lg-8">
        <!-- Featured blog post-->
        <div class="card mb-4">
          <div class="card-body">
            <div class="small text-muted" th:text="${review.createdOn}"></div>
            <h2 class="card-title">About this review</h2>
            <p class="card-text" th:text="${review.content}"></p>
            <div th:if="${user.id} == ${review.movie.createdBy.id}">
              <a th:href="@{/reviews/{reviewId}/edit(reviewId=${review.id})}" class="btn btn-primary ms-2">Edit</a>
              <a class="btn btn-primary ms-2" th:href="@{/reviews/{reviewId}/delete(reviewId=${review.id})}">Delete</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>